

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 90%;
    max-width:470px;
    background: linear-gradient(135deg,#e500fe4f,#54828a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebffff;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
     flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline: 0;
    background:#ebffff ;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50px;

}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top:-10px ;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.Wind{
    font-size: 28px;
    margin-top:-6 ;
}
 .weather{
    display: none;
} 
.error{
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    display: none;
}
i{
    font-size: 5px;
}
#para{
    position: relative;
    top: 36px; 
    display: flex;
    justify-content: center;
    right: 20px;


}

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    overflow: hidden;
  }
  .pattern{
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: animateBg 10s ease-in-out infinite;
  }
  @keyframes animateBg
  {
   0%,100%
    {
     transform: scale(1.6) rotate(-15deg);
    }
    50%
    {
      transform: scale(1.6) rotate(15deg);
    } 
  }
  .pattern .face{
    position: relative;
    width: 100%;
    height: 50vh;
    background: url("images/check.jpg");
    background-size: 100px 100px;
    animation:animate 1s linear infinite;
  }
  @keyframes animate{
    0%
    {
      background-position: 0;
    }
    100%
    {
       background-position:100;
    }
  }
  .pattern .face .face2{
    height: 100vh;
    transform-origin: top;
    transform: rotate(70deg);
  }
  .pattern .face:before{
    content: '';
    position: relative;
    bottom:0;
    left:0;
    height: 100%;
    height: 125px;
    background: linear-gradient(0deg,rgba(0,0,0,0.5),transparent);
  }
  .pattern .face:before{
    content: '';
    position: relative;
    bottom:top;
    left:0;
    height: 100%;
    height: 125px;
    background: linear-gradient(180deg,rgba(0,0,0,0.5),transparent);
  }
  */
